.svn
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.sass-cache/*
tags
.idea
.project
.classpath
*.war
public/javascripts/all.js
public/stylesheets/*.css
public/stylesheets/admin/*.css
public/stylesheets/site/*.css
public/reward_images/*
public/images/reward_images/*
public/system/images/*
capybara-*.html
public/.sass-cache
coverage/
.DS_Store
public/.DS_Store
*.swp
log/*.log
config/database.yml